.ShMHCGsT93epRGdxJp2w[aria-colcount="3"]:not(.Ss6hr6HYpN4wjHJ9GHmi) .wTUruPetkKdWAR1dd6w4 {
  grid-template-columns: [first] 4fr [var1] 2fr [last] minmax(120px,1fr);
}
.h4HgbO_Uu1JYg5UGANeQ {
  border: 1px solid transparent;
  border-radius: 4px;
  height: 56px;
  position: relative;
}
.wTUruPetkKdWAR1dd6w4 {
  grid-gap: 16px;
  display: grid;
  padding: 0 16px;
}
.gvLrgQXBFVW6m9MscfFA {
  justify-self: start;
}

.bfQ2S9bMXr_kJjqEfcwA {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: start;
}

.HcMOFLaukKJdK5LfdHh0 {
  position: absolute;
  right: 0;
//  -webkit-box-align: center;
//  -ms-flex-align: center;
//  align-items: center;
//  display: -webkit-box;
//  display: -ms-flexbox;
//  display: flex;
//  grid-column: last;
//  justify-self: end;
//  margin-bottom: 30px;
}

[dir=ltr] .bfQ2S9bMXr_kJjqEfcwA>:not(:last-child):not(.dZiDwJihz32GwQunXhnB), [dir=ltr] .gvLrgQXBFVW6m9MscfFA>:not(:last-child), [dir=ltr] .HcMOFLaukKJdK5LfdHh0>:not(:last-child) {
  margin-right: 16px;
}
.rkw8BWQi3miXqtlJhKg0 {
  -ms-flex-negative: 0;
  background-color: #282828;
  flex-shrink: 0;
}
.byLkljnIRd_DJeSMD3LM {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  position: relative;
}
.gvLrgQXBFVW6m9MscfFA, .NZAU7CsuZsMeMQB8zYUu {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  img{
    width: 40px;
    height: 40px;
  }
}
.mMx2LUixlnN_Fu45JpFB {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

.X7lQWw2Ly_RZVPEFj2QY {
  background-color: transparent;
  border: 1px solid #535353;
}
.Qt5xfSWikz6CLU8Vobxs {
  border: 2px solid white;
  border-radius: 500px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.76px;
  line-height: 18px;
  padding: 8px 34px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 33ms cubic-bezier(.3,0,0,1);
  transition: all 33ms cubic-bezier(.3,0,0,1);
  white-space: nowrap;
  will-change: transform;
  width: 145px;


}

.Qt5xfSWikz6CLU8Vobxs.marked{
  background-color: green;
}

.gvMYy0vqOxuYtbOkc6sH {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .1em;
  line-height: 16px;
  text-transform: uppercase;
}

.item-added{
  margin-top: 30px;
  border: 1px solid white;
}
